@page
@model BugTracker.Web.Pages.Issues.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IssueDto.Descreption" class="control-label"></label>
                <input asp-for="IssueDto.Descreption" class="form-control" />
                <span asp-validation-for="IssueDto.Descreption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDto.IssueStatus" class="control-label"></label>
                <select asp-for="IssueDto.IssueStatus" class="form-control" asp-items="Html.GetEnumSelectList<BugTracker.Dal.Entities.IssueStatus>()"></select>
                <span asp-validation-for="IssueDto.IssueStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDto.AssignedToId" class="control-label"></label>
                <select asp-for="IssueDto.AssignedToId" class="form-control" asp-items="ViewBag.AssignedToId">
                    <option value="" selected>None</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IssueDto.ProjectId" class="control-label"></label>
                <select asp-for="IssueDto.ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IssueDto.IssuePriority" class="control-label"></label>
                <select asp-for="IssueDto.IssuePriority" class="form-control" asp-items="Html.GetEnumSelectList<BugTracker.Dal.Entities.IssuePriority>()"></select>
                <span asp-validation-for="IssueDto.IssuePriority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDto.IssueSeverity" class="control-label"></label>
                <select asp-for="IssueDto.IssueSeverity" class="form-control" asp-items="Html.GetEnumSelectList<BugTracker.Dal.Entities.IssueSeverity>()"></select>
                <span asp-validation-for="IssueDto.IssueSeverity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
