@page
@model BugTracker.Web.Areas.Identity.Pages.Account.PleaseConfirmEmailModel
@{
}

<body>
    <p class="alert-dark">
        Email sent. Please confirm your email by clicking o the sent link.
    </p>
</body> 